@using CoursAspNetCore.Models;
@{
    Layout = "_Layout";
    ViewData["TitrePage"] = "Accueil personne";
}
<h2>Accueil Personne</h2>
@*
        Utilisation du ViewData pour récupérer des données de la part du controller
        <div>
        @ViewData["nom"]
    </div>
    <div>
        @ViewData["prenom"]
    </div>
    @foreach (var c in ViewData["ListeString"] as List<string>)
    {
        if (c != "toto")
        {
            <div>
                @c
            </div>
        }

    }*@

<div>
    Nom : @ViewBag.nom
</div>
<div>
    Prénom : @ViewBag.prenom
</div>
<div>
    <h2>Liste des strings</h2>
</div>
@foreach (string c in ViewBag.ListeString)
{
    if (c != "toto")
    {
        <div>
            @c
        </div>
    }

}
<div>
    Liste des personnes
</div>
@foreach(Personne p in ViewBag.ListePersonnes as List<Personne>)
{
    <div>
        @p.Nom @p.Prenom
    </div>

}
